@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  display: contents;
}

.box {
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  background-color: #fff;
}

.navigation {
  background: #fff;
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #dbdbdb;
}

.header-container {
  height: 54px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 1024px) {
  .header-container {
    width: 975px;
  }
}

.header-logo {
  margin-top: 7px;
  width: 103px;
  height: 29px;
}

.search-bar {
  display: flex;

  justify-content: center;
  align-items: center;

  margin-left: auto;
}
.search-input {
  text-align: center;
  height: 28px;
  min-width: 125px;
  width: 215px;
  outline: 0;
  padding: 0px 10px 0px 10px;
  background-color: #fafafa;
  border: solid 1px #dbdbdb;
  border-radius: 2px;
  font-size: 14px;
}
.search-text {
  z-index: 2;
  position: absolute;
  top: 0;
  text-align: center;
}

.header-icons {
  display: flex;
  margin-left: auto;
}
.header-icon {
  margin-right: 22px;
}

.homepage-container {
  padding-top: 84px;
}

.stories-container {
  width: 614px;
  height: 116px;
  margin-bottom: 26px;
}
.stories-feed {
  padding-top: 16px;
  padding-bottom: 16px;
  overflow-y: hidden;
  scrollbar-width: none;
  padding-left: 10px;
  padding-right: 10px;
}
.story-username {
  font-size: 12px;
  margin-top: 2px;
}
.story-item {
  width: 80px;
  flex-shrink: 0;
}
.story-photo-container {
  padding: 2px;
  background: linear-gradient(45deg, #f37b12, #c62d90);
  border-radius: 100%;
}
.stories-button {
  position: absolute;
  background-color: white;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  margin: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.suggestions {
  width: 300px;
  height: 100%;
}

.feed-item-container {
  max-width: 614px;
  margin-bottom: 65px;
  line-height: 24px;
}
.feed-item-header {
  height: 60px;
  background-color: white;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.feed-item-buttons-container {
  width: 100%;
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}
.feed-item-buttons {
  margin: 8px;
}
.feed-item-text {
  font-size: 14px;
  font-weight: bold;
  margin-right: 3px;
}
.text-l-m-16 {
  margin-left: 16px;
}
.feed-item-description {
  margin-right: 16px;
  font-size: 14px;
  margin-left: 16px;
  overflow: hidden;
}
.feed-item-text-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 1.5px;
  overflow-wrap: break-word;
}
.feed-item-date-text {
  font-size: 10px;
  color: #9a9a9a;
  margin-left: 16px;
}
.add-comment-container {
  height: 56px;
  padding: 18px;
  width: 100%;
  border-top: 1px solid #efefef;
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.add-comment-input {
  width: 100%;
  border: 0;
  resize: none;
  margin-right: auto;
  height: 18px;
  background-color: transparent;
}
.add-comment-button {
  color: #0095f6;
  font-size: 14px;
}

@media only screen and (max-width: 614px) {
  .homepage-feed {
    width: 100%;
  }
  .stories-container {
    width: 100%;
  }
  .feed-item-container {
    margin-bottom: 12px;
  }
  .box {
    border: 0px;
    background-color: transparent;
  }
  .feed-item-header {
    background-color: #fafafa;
  }
  .homepage-container {
    padding-top: 64px;
    padding-left: 1px;
    padding-right: 1px;
  }
  .add-comment-container {
    display: none;
  }
}
